<!--
title: How To Get A Huge Squat With Perfect Technique (Fix Mistakes)
tags:  ["Jeff Nippard"]
youtube_id: "bEv6CCg2BC8"
audience: Beginner
categories: ["Back Squat"]
permalink: "back-squat/how-to-get-a-huge-squat-with-perfect-technique-fix-mistakes"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bEv6CCg2BC8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li> Primary muscles targeted </li>
  <li> Different positions of bar and rep ranges </li>
  <li> How to walk-out a loaded bar </li>
  <li> How to brace for lift </li>
  <li> How to decend with the bar </li>
  <li> How to lift the bar once you're at the bottom </li>
</ul>

