<!--
title: How to Squat Properly - Form Fixes + Tips + Myths
tags:  ["Meg Gallagher"]
youtube_id: "tTEB9jWjjys"
audience: Beginner
categories: ["Back Squat"]
permalink: "back-squat/how-to-squat-properly-form-fixes-tips-myths"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tTEB9jWjjys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Common equipment for squatting </li>
  <li>Different squat positions and stance  </li>
  <li>How to breathe during squat </li>
  <li>How drive traps ups and feet down to complete squat </li>
</ul>

