<!--
title: How To Squat
tags:  ["Matt Reynolds"]
youtube_id: "cgIDmHfZ1aI"
audience: Beginner
categories: ["Back Squat"]
permalink: "back-squat/how-to-squat"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/cgIDmHfZ1aI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Practicing the stance without a barbell  </li>
  <li>Position of bar when racking </li>
  <li>The role of hands when holding barbell on back </li>
  <li>Using the valsava maneuver for getting body ridgid </li>
</ul>

