.panel
  .panel-header.text-center
    %figure.avatar.avatar-lg
      %img{:alt => "#{current_user.name}", :src => "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}"}/
    .panel-title.h5.mt-10 
      =current_user.username
    .panel-subtitle=current_user.name
  .panel-body
    .chart{"data-controller" => "chart"}
      .show{"data-target" => "chart.show"}
  .panel-footer
    / %button.btn.btn-primary.btn-block Save

