.panel
  .panel-header.text-center
  .panel-body
    .timeline
      #timeline-example-1.timeline-item
        .timeline-left
          %a.timeline-icon{:href => "#timeline-example-1"}
        .timeline-content
          / tiles structure
      #timeline-example-2.timeline-item
        .timeline-left
          %a.timeline-icon.icon-lg{:href => "#timeline-example-2"}
            %i.icon.icon-check
        .timeline-content
          / tiles structure

  .panel-footer
    / %button.btn.btn-primary.btn-block Save
