.panel
  / .panel-header.text-center
  /   %figure.avatar.avatar-lg
  /     %img{:alt => "#{current_user.name}", :src => "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}"}/
  /   .panel-title.h5.mt-10
  /     =current_user.username
  /   .panel-subtitle=current_user.name
  .panel-body
    .timeline
      #timeline-example-1.timeline-item
        .timeline-left
          %a.timeline-icon.tooltip{"data-tooltip" => "March 2016", :href => "#timeline-example-1"}
        .timeline-content
          .tile
            .tile-content
              %p.tile-subtitle March 2016
              %p.tile-title Initial commit
      #timeline-example-2.timeline-item
        .timeline-left
          %a.timeline-icon.icon-lg.tooltip{"data-tooltip" => "February 2017", :href => "#timeline-example-2"}
            %i.icon.icon-check
        .timeline-content
          .tile
            .tile-content
              %p.tile-subtitle February 2017
              %p.tile-title New Documents experience
              %p.tile-title
                %a{:href => "components.html#bars"}> Bars
                \: represent the progress of a task
              %p.tile-title
                %a{:href => "components.html#steps"}> Steps
                \: progress indicators of a sequence of task steps
              %p.tile-title
                %a{:href => "components.html#tiles"}> Tiles
                \: repeatable or embeddable information blocks
            .tile-action
              %button.btn View
      #timeline-example-3.timeline-item
        .timeline-left
          %a.timeline-icon.icon-lg.tooltip{"data-tooltip" => "March 2017", :href => "#timeline-example-3"}
            %i.icon.icon-check
        .timeline-content
          .tile
            .tile-content
              %p.tile-subtitle March 2017
              %p.tile-title
                %a{:href => "elements.html#icons"}> Icons
                \: single-element, responsive and pure CSS icons
              %p.tile-title
                %a{:href => "components.html#popovers"}> Popovers
                \: small overlay content containers
              %p.tile-title
                %a{:href => "experimentals.html#calendars"}> Calendars
                \: date or date range picker and events display
              %p.tile-title
                %a{:href => "experimentals.html#carousels"}> Carousels
                \: slideshows for cycling images
            .tile-action
              %button.btn View

  .panel-footer
    / %button.btn.btn-primary.btn-block Save
