-@workouts.each do |workout|
  .card
    =link_to edit_workout_path(workout) do 
      %div{class: ("inactive" if workout.active == false)}
      .card-header
        .card-subtitle
          =workout.created_at.strftime("%a, %b %d %Y")
        .card-body.columns
          - workout.unique_exercises.each do |exercise|
            .col-6
              =exercise.name
            .col-4
              =workout.routine.try(:name)
            .col-2
              =workout.current_exercise_weight(exercise.id)
