.empty
  .empty-icon
    %i.icon.icon-3x.icon-mail
  %p.empty-title.h5 You have no workouts 
  %p.empty-subtitle hello
  .empty-action
    =link_to "/workouts/create" do
      %button.btn.btn-primary Begin new workout
