%span Total Time:
%span#workoutTimer{"data-controller" => "workout-timer", "data-target" => "workout-timer.view", "data-workout-timer-began-at" => "#{workout.began_at.to_i}", "data-workout-timer-completed-at" => "#{workout.completed_at.to_i}"}
