-if !current_user.has_active_workout?
  .card
    .card-body.columns
      .column.col-12
        .col-12
          Your next workout is scheduled for 
          %b="#{formated_date(current_user.next_workout_date)}"
      .column
        .column
          .columns
            %a.col-12.btn{:href => start_workouts_path}  New Workout

        
        
  
-first_workout = Workout.order(began_at: :asc).limit(1).first.began_at.to_date
-week_number = first_workout.upto(first_workout + 1.week).count.fdiv(7).round(0) + 1
-show_week = {}
-@workouts.each do |workout|
  -if workout.active == true
    %h3{style: 'margin-top: 0'}
      Today
  -if workout.active == false 
    -current_workout = workout.began_at.to_date.beginning_of_week
    -number = first_workout.upto(current_workout).count.fdiv(7).round(0) + 1    
    -unless show_week.to_h[number]
      %h3{style: 'margin-top: 100px'}
        =" Week ##{number}"
        -show_week[number] = true
    
    
    
    
    
  .card{class: ("inactive" if workout.active == false)}
    =link_to edit_workout_path(workout) do 
      .card-header
        .card-subtitle
          =workout.formated_date
        .card-body.columns
          - workout.distinct_exercises.each do |exercise|
            .col-7
              -if workout.active === false 
                %span.circle{class: "#{workout.results.find{|e|e.to_h["exercise_id"] == exercise.id}.to_h["success"] ? 'green' : 'red'}"}
              =exercise.name
            .col-3
              ="#{workout.current_exercise_weight(exercise.id)} lbs"
            .col-2
              =workout.routine.try(:name)


-if @workouts.count > 100
  .column
    .column
      .columns
        %a.col-12.btn{style: "color: white", href: start_workouts_path}  Load More
