-if !current_user.has_active_workout?
  .card
    .card-body.columns
      .column
        .col-12
          %p 
            Your next workout is scheduled for 
            %b="#{formated_date(current_user.next_workout_date)}"
          %p We recommend you stick to your program, but if you can start a new workout session now.
          %p 
            .btn
              %a{href: start_workouts_path}
                Begin Workout
        
        
  

-displayed = false
-@workouts.each do |workout|
  -if workout.active == true
    Today
  -if workout.active == false && displayed == false
    Previous Workouts
    -displayed = true
    
  .card{class: ("inactive" if workout.active == false)}
    =link_to edit_workout_path(workout) do 
      .card-header
        .card-subtitle
          =workout.formated_date
        .card-body.columns
          - workout.distinct_exercises.each do |exercise|
            .col-6
              =exercise.name
            .col-4
              ="#{workout.current_exercise_weight(exercise.id)} lbs"
            .col-2
              =workout.routine.try(:name)

.card
  .card-body.columns
    .column
      Load More