<!--
title: Bench Press Plateau / Common Mistake
tags:  ["Alan Thrall"]
youtube_id: "ZqyMdpI2S54"
audience: Intermediate
categories: ["Bench Press"]
permalink: "bench-press/bench-press-plateau-common-mistake"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZqyMdpI2S54" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>Position of the elbows. </li>
  <li>The ideal bar path is a straight line, but in an angle. </li>
  <li>Reducing moment arms.  </li>
</ul>

