/
  In this file, the fields can be set to "required", but that will
  cause issues.  Specifically, when someone clicks "Remove" the fields
  will be hidden and unless the "required" prop is set to false the form
  will not submit.  Also note that when showing this line if the object
  is marked_for_destruction? it should be hidden. The javascript below
  will handle both these issues.
%tr.line_item.subform.fields{:id => "line_item_#{f.object.id}"}
  %td
    = f.text_field :field_1
  %td
    = f.text_field :field_2
  %td
    = remove_child_link 'Remove', f