/ This list page should only appear for admin
%h1 Listing workouts

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @routines.each do |routine|      
      %tr
        %td
          = link_to "#{routine.name}", associate_user_to_routine_path(routine) 

        %td
          - if current_user.routine_id == routine.id
            ="Active"
          -else
            ="-"


        %td
        -#  = link_to "(Edit)", edit_routine_path(routine)
        / %td= link_to 'Edit', edit_routine_path(routine)
        / %td= link_to 'Destroy', routine, method: :delete, data: { confirm: 'Are you sure?' }


-#= link_to 'New Routine', new_routine_path

