/
  title: Beginners Guide to Clean & Jerk with MegSquats
  tags:  ["Max Aita"]
  youtube_id: "IcCGLoNqN2U"
  audience: Intermediate
  categories: ["Clean & Jerk"]
  permalink: "clean-and-jerk/beginners-guide-to-clean-jerk-with-megsquats"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/IcCGLoNqN2U", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Intermediate
%ul
  %li How to grip the bar.
