-if resource.errors.any?
  .column.col-12
    .text-center    
      -resource.errors.full_messages.reverse.each do |message|
        .column
          .col-12{ style: "background: transparent; color: black; text-decoration: underline" }
            =message
