-if resource.errors.any?
  .column.col-12
    .text-center
      %p
        = I18n.t("errors.messages.not_saved",                 |
          count: resource.errors.count,                       |
          resource: resource.class.model_name.human.downcase) |
    
      -resource.errors.full_messages.reverse.each do |message|
        .column
          .col-12.label.label-primary
            =message
