<!--
title: The Barbell Row with Mark Rippetoe
tags:  ["Mark Rippetoe"]
youtube_id: "I0uhDZ06hrQ"
audience: Beginner
categories: ["Barbell Row"]
permalink: "barbell-row/the-barbell-row-with-mark-rippetoe"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/I0uhDZ06hrQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Position of the back </li>
  <li>How to grip the bar </li>
  <li>How does this lift compare to other barbell rows </li>
</ul>

