<!--
title: The Truth about Barbell Rows (AVOID MISTAKES!)
tags:  ["Jeff Cavaliere"]
youtube_id: "T3N-TO4reLQ"
audience: Beginner
categories: ["Barbell Row"]
permalink: "barbell-row/the-truth-about-barbell-rows-avoid-mistakes"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/T3N-TO4reLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Depending on your body, the barbell row can impact your lower back </li>
  <li>Alternatives to Pendlay row </li>
  <li>Where to make contact in your body</li>
</ul>

