/
  title: Bench Press Plateau / Common Mistake
  tags:  ["Alan Thrall"]
  youtube_id: "ZqyMdpI2S54"
  audience: Intermediate
  categories: ["Bench Press"]
  permalink: "bench-press/bench-press-plateau-common-mistake"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ZqyMdpI2S54", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Intermediate
%ul
  %li Position of the elbows.
  %li The ideal bar path is a straight line, but in an angle.
  %li Reducing moment arms.
