/
  title: How To Bench Press
  tags:  ["Alexis Wolfer"]
  youtube_id: "sSXDYMy1f6c"
  audience: Beginner
  categories: ["Bench Press"]
  permalink: "bench-press/how-to-bench-press"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/sSXDYMy1f6c", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li How to grip the barbell
  %li Bench press safety
  %li How to tuck elbows
  %li Ideal bar path when pressing
  %li How to use leg drive
  %li How to use a spotter
