/
  title: How To Bench Press Pt II&colon; Winding Up Your Body, Leg Drive & Bar Path
  tags:  ["Brian Alsruhe"]
  youtube_id: "w-V7WhYct1U"
  audience: Intermediate
  categories: ["Bench Press"]
  permalink: "bench-press/how-to-bench-press-pt-ii-colon-winding-up-your-body-leg-drive-bar-path"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/w-V7WhYct1U", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Intermediate
%ul
  %li Bracing your body for heavy lift
  %li The role of the back on the bench
  %li Initiating leg drive effectively
  %li The role of an effective back arc
  %li Efficient bar paths
