<!--
title: How To Bench Press Pt II&colon; Winding Up Your Body, Leg Drive & Bar Path
tags:  ["Brian Alsruhe"]
youtube_id: "w-V7WhYct1U"
audience: Intermediate
categories: ["Bench Press"]
permalink: "bench-press/how-to-bench-press-pt-ii-colon-winding-up-your-body-leg-drive-bar-path"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/w-V7WhYct1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>Bracing your body for heavy lift </li>
  <li>The role of the back on the bench </li>
  <li>Initiating leg drive effectively </li>
  <li>The role of an effective back arc</li>
  <li>Efficient bar paths</li>
</ul>

