/
  title: How to Bench Press&colon; (Bench Series Pt. I)
  tags:  ["Brian Alsruhe"]
  youtube_id: "Ji5ieq8JdnQ"
  audience: Beginner
  categories: ["Bench Press"]
  permalink: "bench-press/how-to-bench-press-colon-bench-series-pt-i"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Ji5ieq8JdnQ", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Positioning yourself under the bar
  %li Building tightness to help press
