<!--
title: How to Overhead Press With Mark Rippetoe | The Art of Manliness
tags:  ["Mark Rippetoe"]
youtube_id: "CnBmiBqp-AI"
audience: Intermediate
categories: ["Overhead Press"]
permalink: "overhead-press/how-to-overhead-press-with-mark-rippetoe-the-art-of-manliness"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/CnBmiBqp-AI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>Grip width and where to place the bar in your hands </li>
  <li>Why you can bench press more than you can overhead press </li>
  <li>How overhead pressing impacts the shoulder joint </li>
</ul>

