<!--
title: Beginners Guide to Snatching with Meg Squats
tags:  ["Max Aita"]
youtube_id: "n2t9xkKzATU"
audience: Intermediate
categories: ["Snatch"]
permalink: "snatch/beginners-guide-to-snatching-with-meg-squats"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/n2t9xkKzATU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>How to grip the bar. </li>
</ul>

