/
  title: Build A Bigger Deadlift With Perfect Technique (Conventional Form)
  tags:  ["Jeff Nippard"]
  youtube_id: "VL5Ab0T07e4"
  audience: Beginner
  categories: ["Deadlift"]
  permalink: "deadlift/build-a-bigger-deadlift-with-perfect-technique-conventional-form"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/VL5Ab0T07e4", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Differences between sumo and conventional deadlift
  %li How often to lift
  %li Setting up the bar and position of feet
  %li Different grip positions
  %li How to begin the pull motion
  %li The pulling/standing motion breakdown
