/
  title: How To Deadlift For Beginners
  tags:  ["Russel Orhii"]
  youtube_id: "67rdp8sjzgA"
  audience: Beginner
  categories: ["Deadlift"]
  permalink: "deadlift/how-to-deadlift-for-beginners"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/67rdp8sjzgA", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Using vertical leap to find ideal feet width
  %li Pushing your hips back during setup and keeping hips high
  %li Lat activation
  %li Neutral spine
  %li Ensuring the scapula is over the bar
