/
  title: How To Deadlift&colon; Starting Strength 5 Step Deadlift
  tags:  ["Alan Thrall"]
  youtube_id: "wYREQkVtvEc"
  audience: Beginner
  categories: ["Deadlift"]
  permalink: "deadlift/how-to-deadlift-colon-starting-strength-5-step-deadlift"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/wYREQkVtvEc", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Positioning the barbell
  %li Identifying ideal hip position
  %li Stance width
  %li Ideal bar path
