/
  title: The Official Deadlift Checklist (AVOID MISTAKES!)
  tags:  ["Jeff Cavaliere"]
  youtube_id: "hCDzSR6bW10"
  audience: Beginner
  categories: ["Deadlift"]
  permalink: "deadlift/the-official-deadlift-checklist-avoid-mistakes"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/hCDzSR6bW10", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Pre-deadlift warm ups
  %li Bar position on the floor relative to feet
  %li Different back positions
  %li The importance of pushing with your legs
  %li How to drive hips
