<!--
title: The Official Deadlift Checklist (AVOID MISTAKES!)
tags:  ["Jeff Cavaliere"]
youtube_id: "hCDzSR6bW10"
audience: Beginner
categories: ["Deadlift"]
permalink: "deadlift/the-official-deadlift-checklist-avoid-mistakes"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hCDzSR6bW10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Pre-deadlift warm ups </li>
  <li>Bar position on the floor relative to feet </li>
  <li>Different back positions </li>
  <li>The importance of pushing with your legs </li>
  <li>How to drive hips </li>
</ul>

