.panel
  .panel-header.text-center
    %figure.avatar.avatar-lg
      %img{:alt => "#{current_user.name}", :src => "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}"}/
    .panel-title.h5.mt-10 
      =current_user.username
    .panel-subtitle=current_user.name
  %nav.panel-nav
    %ul.tab.tab-block
      %li.tab-item.active
        %a{:href => "#about"} About
  .panel-body
    .tile.tile-centered
      .tile-content
        .tile-title.text-bold E-mail
        .tile-subtitle 
          =current_user.email
      .tile-action
        %button.btn.btn-link.btn-action.btn-lg.tooltip.tooltip-left{"data-tooltip" => "Edit E-mail"}
          %i.icon.icon-edit
    .tile.tile-centered
      .tile-content
        .tile-title.text-bold Username
        .tile-subtitle=current_user.username
      .tile-action
        %button.btn.btn-link.btn-action.btn-lg.tooltip.tooltip-left{"data-tooltip" => "Edit Username"}
          %i.icon.icon-edit
    .tile.tile-centered
      .tile-content
        .tile-title.text-bold Twitter
        .tile-subtitle=current_user.twitter
      .tile-action
        %button.btn.btn-link.btn-action.btn-lg.tooltip.tooltip-left{"data-tooltip" => "Edit Twitter"}
          %i.icon.icon-edit
          
          
    .timeline
      #timeline-example-1.timeline-item
        .timeline-left
          %a.timeline-icon{:href => "#timeline-example-1"}
        .timeline-content
          / tiles structure
      #timeline-example-2.timeline-item
        .timeline-left
          %a.timeline-icon.icon-lg{:href => "#timeline-example-2"}
            %i.icon.icon-check
        .timeline-content
          / tiles structure

  .panel-footer
    / %button.btn.btn-primary.btn-block Save
