<!--
title: How To Deadlift For Beginners
tags:  ["Russel Orhii"]
youtube_id: "67rdp8sjzgA"
audience: Beginner
categories: ["Deadlift"]
permalink: "deadlift/how-to-deadlift-for-beginners"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/67rdp8sjzgA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Using vertical leap to find ideal feet width </li>
  <li>Pushing your hips back during setup and keeping hips high </li>
  <li>Lat activation</li>
  <li>Neutral spine</li>
  <li>Ensuring the scapula is over the bar</li>
</ul>
