<!--
title: How To Deadlift&colon; Starting Strength 5 Step Deadlift
tags:  ["Alan Thrall"]
youtube_id: "wYREQkVtvEc"
audience: Beginner
categories: ["Deadlift"]
permalink: "deadlift/how-to-deadlift-colon-starting-strength-5-step-deadlift"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wYREQkVtvEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Positioning the barbell </li>
  <li>Identifying ideal hip position </li>
  <li>Stance width </li>
  <li>Ideal bar path </li>
</ul>

