<!--
title: How To Squat - Low Bar
tags:  ["Alan Thrall"]
youtube_id: "vmNPOjaGrVE"
audience: Intermediate
categories: ["Back Squat"]
permalink: "back-squat/how-to-squat-low-bar"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/vmNPOjaGrVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>Efficient bar path&colon; straight vertical line </li>
  <li>How the low squat helps you lift more weight  </li>
  <li>Position of feet and stance  </li>
  <li>Position of the barbell on your back and position of the wrist </li>
  <li>The importance of hip drive </li>
  <li>Pressure on the knees when squatting too deep </li>
  <li>How different femurs and torsos leads to different squat positions </li>
</ul>

