/
  title: How to Squat Properly - Form Fixes + Tips + Myths
  tags:  ["Meg Gallagher"]
  youtube_id: "tTEB9jWjjys"
  audience: Beginner
  categories: ["Back Squat"]
  permalink: "back-squat/how-to-squat-properly-form-fixes-tips-myths"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/tTEB9jWjjys", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Common equipment for squatting
  %li Different squat positions and stance
  %li How to breathe during squat
  %li How drive traps ups and feet down to complete squat
