/
  title: How to Low Bar Squat With Mark Rippetoe | The Art of Manliness
  tags:  ["Mark Rippetoe"]
  youtube_id: "QhVC_AnZYYM"
  audience: Beginner
  categories: ["Back Squat"]
  permalink: "back-squat/how-to-low-bar-squat-with-mark-rippetoe-the-art-of-manliness"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/QhVC_AnZYYM", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Where to look while squatting
  %li Where to place the barbell in our back in a low-bar squat
  %li Hinging at the hip and driving up with the hip
  %li The importance of back angle
