/
  title: How To Squat
  tags:  ["Matt Reynolds"]
  youtube_id: "cgIDmHfZ1aI"
  audience: Beginner
  categories: ["Back Squat"]
  permalink: "back-squat/how-to-squat"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/cgIDmHfZ1aI", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Practicing the stance without a barbell
  %li Position of bar when racking
  %li The role of hands when holding barbell on back
  %li Using the valsava maneuver for getting body ridgid
