/
  title: How To Squat - Low Bar
  tags:  ["Alan Thrall"]
  youtube_id: "vmNPOjaGrVE"
  audience: Intermediate
  categories: ["Back Squat"]
  permalink: "back-squat/how-to-squat-low-bar"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/vmNPOjaGrVE", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Intermediate
%ul
  %li Efficient bar path&amp;colon; straight vertical line
  %li How the low squat helps you lift more weight
  %li Position of feet and stance
  %li Position of the barbell on your back and position of the wrist
  %li The importance of hip drive
  %li Pressure on the knees when squatting too deep
  %li How different femurs and torsos leads to different squat positions
