<!--
title: How to Low Bar Squat With Mark Rippetoe | The Art of Manliness
tags:  ["Mark Rippetoe"]
youtube_id: "QhVC_AnZYYM"
audience: Beginner
categories: ["Back Squat"]
permalink: "back-squat/how-to-low-bar-squat-with-mark-rippetoe-the-art-of-manliness"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QhVC_AnZYYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Where to look while squatting </li>
  <li>Where to place the barbell in our back in a low-bar squat </li>
  <li>Hinging at the hip and driving up with the hip </li>
  <li>The importance of back angle </li>
</ul>

