%div{style: "position: relative; height: 100px"}
  %h1
    =greet_user

=render "home/components/select_routine"
            
=render "home/components/next_workout"

=render "home/components/personal_records"

=render "home/components/monthly_progress"

=render "home/components/achivements"