-@workouts.each do |workout|
  =render "workout",  workout: workout 

-workout = current_user.workouts.order(began_at: :asc).first
.timeline-item
  .timeline-left
    %a.timeline-icon.icon-lg.tooltip{"data-tooltip" => "#{workout.began_at}", :href => "#timeline-#{workout.id}"}
      %i.icon.icon-check
  .timeline-content
    .tile{style: "margin: 0"}
      .tile-content
        %p.empty-subtitle=formated_date( workout.began_at )
        .empty-icon
          / %i.icon.icon-3x.icon-mail
        %p.empty-title.h5 Congratulations! 
        %p This is the day you began your journey. 
          
        .empty-action
    