
%span
  Follow a friend or invite them to join
  %input{"data-target" => "relationship.email", type: "email"}
  %button.btn{"data-target" => "timeline.button", "data-action"=>"click->relationship#send_invitation"}
    Invite
  %div{"data-target" => "relationship.notice"}




