
%span
  Follow a friend or invite them to join
  %input.col-12{"data-target" => "relationship.email", type: "email"}
  %button.btn.col-12{"data-target" => "relationship.button", "data-action"=>"click->relationship#send_invitation"}
    Invite
  .col-12{"data-target" => "relationship.notice"}




