.panel{"data-controller" => "tabs"}
  .panel-header.text-center
    %figure.avatar.avatar-lg
      =show_avatar(current_user.id)
    .panel-title.h5.mt-10
      =current_user.username
    .panel-subtitle=current_user.name
  %nav.panel-nav
    %ul.tab.tab-block
      %li.tab-item
        %a{"data-link" => "#activity",  "data-action"=>"click->tabs#onClick"} Activity
      %li.tab-item
        %a{"data-link" => "#following", "data-action"=>"click->tabs#onClick"} Following
      %li.tab-item
        %a{"data-link" => "#requests", "data-action"=>"click->tabs#onClick"} Requests
  .panel-body{"data-controller" => "relationship"}
    #activity.tab-content{"data-target"=>"tabs.content"}
      .hero
        =render "activity"
    #following.tab-content{"data-target"=>"tabs.content"}
      .hero
        =render "following"
    #requests.tab-content{"data-target"=>"tabs.content"}
      .hero
        =render "requests"

  .panel-footer
