-if current_user
  %div{style: "position: relative; height: 200px"}
    %h1
      =greet_user

  %div.column
    .cols-12
      %a.btn.btn-primary.btn-primary.btn-large{:href => "/workouts/resume"}  Resume Current Workout
    .cols-12
      %a.btn.btn-primary.btn-primary.btn-large{:href => "/workouts/stop"}  End Curretn Workout

  .card
    .card-header
      .card-title.h5
        Monthly Progress
      .card-body
        .chart{"data-controller" => "chart"}
          .show{"data-target" => "chart.show"}
        


  .card
    .card-header
      .card-title.h5
        Archivements
      .card-body
        You have completed.
    

-else

  #overview.grid-hero.container.grid-lg.text-center
    %h1 EveryBodySquat
    %h2
      A simple
      %u  Barbell
      and
      %u Weight
      Tracker
    %p
      %a.btn.btn-primary.btn-lg.mr-2{:href => "/users/sign_in"} Sign In
      %a.btn.btn-primary.btn-lg{:href => "/users/sign_up"} Register
    %p.text-gray
      Latest version:
      %span.version
      
        =ENV['HEROKU_RELEASE_VERSION'] || "#{`git rev-parse --short HEAD`}"
