#overview.grid-hero.container.grid-lg.text-center
  %h1 EveryBodySquat
  %h2
    A simple
    %u  Barbell
    and
    %u Weight
    Tracker
  %p
    %a.btn.btn-primary.btn-lg.mr-2{:href => "/users/sign_in"} Sign In
    %a.btn.btn-primary.btn-lg{:href => "/users/sign_up"} Register
  %p.text-gray
    Latest version:
    %span.version
