.registrations, .sessions, .passwords{
  input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;

    border: 1px solid #aaa;
    font-size: 20pt;
    padding: 5px;
  }  
  
  a:visited{
    color: #807fe2;
  }

  

}
