/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
#content{
//  margin-top:100px;
}

//.version::after{
//    content:"0.0.1"
//}
.off-canvas .off-canvas-toggle{
    font-size:1rem;
    left:1.5rem;
    position:fixed;
    top:1rem
}
.off-canvas .off-canvas-sidebar{
    width:12rem
}
.off-canvas .off-canvas-content{
    padding:0;
}

.main-container{
    min-height:100vh;
//    margin-top: 100px;
}
.main-navbar{
    height:3.8rem;
    position:fixed;
    right:0;
    top:0;
    z-index:100
}
.main-navbar .btns{
    position:absolute;
    right:0;
    top:1rem;
    width:13rem;
}
.main-navbar .algolia-autocomplete{
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
.main-sidebar .main-nav{
    bottom:1.5rem;
    -webkit-overflow-scrolling:touch;
    overflow-y:auto;
    padding:.5rem 1.5rem;
    position:fixed;
    top:4.5rem;
    width:12rem;
    background-color: #f7f8f9
}
.main-sidebar .accordion{
    margin-bottom:.75rem
}
.main-sidebar .accordion input~.accordion-header{
    color:#455060;
    font-size:.65rem;
    font-weight:600;
    text-transform:uppercase
}
.main-sidebar .accordion input:checked~.accordion-header{
    color:#505c6e
}
.main-sidebar .accordion .menu .menu-item{
    font-size:.7rem;
    padding-left:1rem
}
.main-sidebar .accordion .menu .menu-item>a{
    background:0 0;
    color:#66758c;
    display:inline-block
}
.main-content{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:0 4rem;
    width:calc(100vw - 12rem);
    margin-top: 5rem;
}
.main-content>.container{
    margin-left:0;
    max-width:800px;
    padding-bottom:1.5rem
}
.main-content .anchor{
    color:#6362dc;
    display:none;
    margin-left:.2rem;
    padding:0 .2rem
}
.main-content .anchor:focus,.main-content .anchor:hover{
    display:inline;
    text-decoration:none
}
.main-content .s-subtitle,.main-content .s-title{
    line-height:1.8rem;
    margin-bottom:0;
    padding-bottom:1rem;
    padding-top:1rem;
    position:static
}
@supports ((position:-webkit-sticky) or (position:sticky)){
    .main-content .s-subtitle,.main-content .s-title{
        position:sticky;
        position:-webkit-sticky;
        top:0;
        z-index:99
    }
    .main-content .s-subtitle::before,.main-content .s-title::before{
        background:#fff;
        bottom:0;
        content:"";
        display:block;
        left:-10px;
        position:absolute;
        right:-10px;
        top:-5px;
        z-index:-1
    }
}
.main-content .s-subtitle:hover .anchor,.main-content .s-title:hover .anchor{
    display:inline
}
.main-content .s-subtitle+.main-note,.main-content .s-title+.main-note{
    margin-top:.4rem
}
.main-content .main-demo{
    padding-bottom:1rem;
    padding-top:1rem
}
.main-content .main-demo .card{
    border:0;
    box-shadow:0 .25rem 1rem rgba(48,55,66,.15);
    height:100%
}
.main-content .column{
    padding:.4rem
}
.main-content .main-block{
    border-radius:.1rem;
    padding:.4rem
}
.main-content .main-block.bg-gray{
    background:#eef0f3
}
.main-content .main-shape{
    height:4.8rem;
    line-height:1.2rem;
    padding:1.8rem 0;
    width:4.8rem
}
.main-content .main-dot{
    border-radius:50%;
    display:inline-block;
    height:.5rem;
    padding:0;
    width:.5rem
}
.main-content .main-table td,.main-content .main-table th{
    padding:.75rem .25rem
}
.main-content .main-color{
    border-radius:.1rem;
    margin:.25rem 0;
    padding:5rem .5rem .5rem
}
.main-content .main-color .color-subtitle{
    font-size:.7rem;
    opacity:.75
}
.main-content .code .hljs-tag{
    color:#505c6e
}
.main-content .code .hljs-comment{
    color:#bcc3ce
}
.main-content .code .hljs-class,.main-content .code .hljs-number,.main-content .code .hljs-string,.main-content .code .hljs-title{
    color:#5755d9
}
.main-content .code .hljs-attribute,.main-content .code .hljs-built_in,.main-content .code .hljs-keyword,.main-content .code .hljs-name,.main-content .code .hljs-variable{
    color:#d73e48
}
.main-content .code .hljs-hexcolor,.main-content .code .hljs-value{
    color:#505c6e
}
.main-content .c-select-all{
    -webkit-user-select:all;
    -moz-user-select:all;
    -ms-user-select:all;
    user-select:all
}
.main-content .panel{
//    height:75vh;
    overflow: visible;
}
.main-content .panel .tile{
    margin:.75rem 0
}

.panel{
  border: 0;
}

.panel .panel-body{
  overflow: visible;
}

.main-content .parallax{
    margin:2rem auto
}
.main-content .form-autocomplete .menu{
    position:static
}
.main-content .example-tile-icon{
    align-content:space-around;
    align-items:center;
    background:#5755d9;
    border-radius:.1rem;
    color:#fff;
    display:flex;
    display:-ms-flexbox;
    -ms-flex-align:center;
    -ms-flex-line-pack:distribute;
    font-size:1.2rem;
    height:2rem;
    width:2rem
}
.main-content .example-tile-icon .icon{
    margin:auto
}
.main-content .comparison-slider{
    height:auto;
    padding-bottom:56.2222%
}
.main-content .comparison-slider .filter-grayscale{
    filter:grayscale(75%)
}
.main-content .off-canvas{
    position:relative
}
.main-content .off-canvas .off-canvas-toggle{
    left:.4rem;
    position:absolute;
    top:.4rem;
    z-index:1
}
.main-brand{
    color:#5755d9;
    height:2rem;
    left:1.5rem;
    position:fixed;
    top:.85rem
}
.main-brand .main-logo{
    align-items:center;
    border-radius:.1rem;
    display:inline-flex;
    display:-ms-inline-flexbox;
    -ms-flex-align:center;
    font-size:.7rem;
    height:2rem;
    padding:.2rem;
    width:auto
}
.main-brand .main-logo:focus,.main-brand .main-logo:hover{
    text-decoration:none
}
.main-brand .main-logo img{
    display:inline-block;
    height:auto;
    width:1.6rem
}
.main-brand .main-logo h2{
    display:inline-block;
    font-size:.8rem;
    font-weight:700;
    line-height:1.5rem;
    margin-bottom:0;
    margin-left:.5rem;
    margin-right:.3rem
}
.main-footer{
    color:#bcc3ce;
    padding:.5rem
}
.main-footer a{
    color:#66758c
}
.main-ad{
    background:#f7f8f9;
    border-radius:.1rem;
    display:block;
    margin:2rem 0;
    padding:.4rem;
    position:relative
}
.main-ad ins{
    line-height:1;
    vertical-align:middle
}
.main-ad .carbon-wrap .carbon-img{
    display:block
}
.main-ad .carbon-wrap .carbon-text{
    color:#66758c;
    display:block;
    font-size:.7rem
}
.main-ad .carbon-poweredby{
    color:#bcc3ce;
    font-size:.7rem
}
.section-hero{
    padding:1rem .5rem
}
.section-hero .main-brand{
    position:absolute;
    top:.85rem
}
.section-hero .main-brand h2{
    color:#5755d9
}
.section-hero .column{
    padding:.4rem
}
.section-ads{
    padding:1rem .5rem
}
.section-updates{
    padding:4.5rem .5rem 2.5rem .5rem
}
.section-updates .card{
    border:0;
    margin-bottom:1rem
}
.section-features{
    padding:4.5rem .5rem
}
.section-features .column{
    padding:.4rem
}
.section-footer{
    color:#bcc3ce;
    padding:1.8rem .75rem 1rem;
    position:relative;
    z-index:200
}
.section-footer a{
    color:#66758c
}
.grid-hero{
    padding-bottom:2rem;
    padding-top:0;
}
.grid-hero h1{
    color:#3b4351;
    font-size:1.6rem;
    font-weight:600;
    margin-bottom:1.5rem
}
.grid-hero h2{
    color:#455060;
    font-size:.9rem;
    font-weight:400;
    line-height:1.5rem;
    margin-bottom:1.5rem
}
.grid-hero h2 u{
    border-bottom:.1rem solid currentColor;
    padding-bottom:.05rem;
    text-decoration:none
}
.grid-hero .card{
    background:0 0;
    border:0;
    color:#5b687d;
    padding:.5rem
}
.grid-hero .card .card-title{
    color:#5755d9;
    font-size:1rem;
    font-weight:700;
    margin-bottom:0
}
@media (max-width:960px){
    .off-canvas .off-canvas-toggle{
        z-index:300
    }
    .off-canvas .off-canvas-content{
        width:100%
    }
    .main-sidebar .main-brand{
        margin:.85rem 1.5rem;
        padding:0;
        position:static
    }
    .main-sidebar .main-nav{
        margin-top:1rem;
        position:static
    }
    .main-sidebar .menu .menu-item>a{
        padding:.3rem .4rem
    }
    .main-navbar{
        -webkit-backdrop-filter:blur(5px);
        backdrop-filter:blur(5px);
        background:rgb(247,248,249);
        left:0
    }
    .main-content{
        min-width:auto;
        padding:0 1.5rem;
        width:100%
    }
    .main-content .s-subtitle,.main-content .s-title{
        padding-top:5rem;
        position:static
    }
    .main-content .s-subtitle::before,.main-content .s-title::before{
        content:none
    }
    .section-hero .s-brand{
        height:5rem;
        padding:1.5rem .5rem;
        text-align:center;
        width:100%
    }
    .section-hero .s-brand .s-logo{
        height:auto
    }
    .section-hero .s-brand img{
        height:3.2rem;
        width:3.2rem
    }
    .section-hero .s-brand h2{
        display:none
    }
}
@media (max-width:600px){
    .grid-hero h2{
        font-size:.9rem
    }
    .grid-hero .card{
        padding:0
    }
    .off-canvas .off-canvas-toggle{
        left:.5rem
    }
    .main-navbar .btns{
        right:.9rem
    }
    .grid-hero .main-brand{
        left:.9rem
    }
    .main-sidebar .main-brand{
        margin:.85rem 1rem
    }
    .main-sidebar .main-nav{
        padding:.5rem 1rem
    }
    .main-content{
        padding:0 .5rem
    }
    .main-content .main-block{
        padding:.4rem .1rem
    }
}
@media (min-width:1366px){
    .main-ad.main-ad-sidebar{
        bottom:1rem;
        margin:0;
        position:fixed;
        right:1rem;
        width:7.3rem
    }
}



