.off-canvas .off-canvas-overlay{
  z-index: 100;  
}

.btn.btn-link{
  color: white;
}

.main-navbar{
  background-color: #3d95ce;
}

.btn-x-lg{
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem !important;
  
}

.btn-xx-lg{
  width: 4rem;
  height: 4rem;
  
}

.card{
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  margin-bottom: 10px;
}