@import url('https://fonts.googleapis.com/css?family=Montserrat');


.menu-button{
  
  
  
  
  .aside-section {
    top: 0;
    bottom: 0;
    position: fixed;
  }

  .aside-left {
  //  display: none;
  //  width: 40%;
  //  left: 0;
  //  background-color: #ff5964;
  //  -webkit-transform: translateY(-100%);
  //  -moz-transform: translateY(-100%);
  //  -ms-transform: translateY(-100%);
  //  -o-transform: translateY(-100%);
  //  transform: translateY(-100%);
  //  transition: transform 0.4s ease-in-out;

    width: 100%;
    right: 0;
    background-color: #38618c;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
    z-index: 1000;
  }

  //.aside-right {
  //  width: 100%;
  //  right: 0;
  //  background-color: #38618c;
  //  -webkit-transform: translateX(100%);
  //  -moz-transform: translateX(100%);
  //  -ms-transform: translateX(100%);
  //  -o-transform: translateX(100%);
  //  transform: translateX(100%);
  //  transition: transform 0.4s ease-in-out;
  //}

  .aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: center;
    width: 40%;
    margin: 60px auto;
  }

  .aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;
  }

  .aside-list li {
    margin-bottom: 20px;
  }

  .aside-anchor a{
    color: white;
    text-decoration: none;
  }
  .aside-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #ff5964;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
    width: 100%;
  }

  .aside-anchor::before {
    border-radius: 3px;
  //  content: "";
    position: absolute;
    bottom: 0;
  //  background-color: #fff;
    left: 0;
  //  height: 3px;
    z-index: 1001;
  //  width: 20%;
    -webkit-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
  }

  //.aside-anchor:hover:before {
  //  -webkit-transform: translateX(100%);
  //  -moz-transform: translateX(100%);
  //  -ms-transform: translateX(100%);
  //  -o-transform: translateX(100%);
  //  transform: translateX(100%);
  //}

  .aside-anchor {
    padding-bottom: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    font-weight: 500;
  }

  @media (max-width: 320px) {
    .aside-list{
      .aside-anchor{
        font-size: 18pt !important;
      }      
    }
  }


  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ aside .aside-left {
    transform: translateX(0%);
  }

  //input[type="checkbox"]:checked ~ aside .aside-right {
  //  transform: translateX(0%);
  //}

  input[type="checkbox"]:checked ~ label .bar {
    background-color: #fff;
  }

  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }

  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }

  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  

  label {
    top: 0px;
    right: 0;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 1001;
    position: fixed;
  }
  

  .middle {
    margin: 0 auto;
  }

  .back-button{
    top: 6px;
    left: 0;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 1003;
    position: fixed;  
    color: #38618c;

    a{
      font-weight: bolder;      
    }
    a:visited{
      color: #38618c;
    }
  }

  .bar {
    display: block;
    background-color: #38618c;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
  }


  .aside-section p {
    font-size: 30px;
  }

  .button {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 7px 50px;
    border: 2px solid white;
  }

  @media (min-width: 992px) {
    h1 {
      font-size: 40px;
    }
    .aside-left {
      display: block;
    }
  }
  
}




