#notification{
  border: 1px solid;
  width: 100%;
  height: 80px;
  background-color: #69B;
  left: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  margin: 0;
}
.archived{
//  position: relative !important;
//  border: 1px solid;
//  top: 0px !important;
//  width: 100%;
//  background-color: #aaa;
//  left: 0;

}
