#notification{
  //  border: 1px solid;
  //  bottom: 0px;
  //  width: 100%;
  //  position: fixed;
  //  height: 80px;
  //  background-color: #aaa;
  //  left: 0;
  border: 1px solid;
  top: 60px;
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: #aaa;
  left: 0;
}

