#notification{

  
  background: #fff;
  border-radius: .1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(48, 55, 66, .3);
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 75vh;
  max-width: 640px;
  padding: 0 16px;
  padding: 0 .8rem;
//  width: 100%;
  bottom: -150px;
  z-index: 1;

  position: fixed;
  text-align:center;

  left: 50%;
  width: 490px;
    
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  
}

.notification-active{
  animation: slide-up .2s ease 1;
  background-color: red;
  bottom: 0!important;
}

#resumeMessage{
  font-size: 10pt;
}
