button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
//    font-family: 'Roboto';
//    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: #F7958E;
    cursor: pointer;
}
button[data-setter]:hover {
    opacity: 0.5;
}
.timer-container {
    position: relative;
//    top: 30px;
//    width: 300px;
    margin: 0 auto;
}
.setters {
  position: absolute;
  left: 65px;
  top: 50px;
}
.minutes-set {
    float: left;
    margin-right: 28px;
}
.seconds-set {
    float: right;
}
.controlls {
//    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
}
.display-remain-time {
//    font-family: 'Roboto';
//    font-weight: 100;
    font-size: 35px;
    color: #F7958E;
}
//#pause {
//    outline: none;
//    background: transparent;
//    border: none;
//    margin-top: 10px;
//    width: 50px;
//    height: 50px;
//    position: relative;
//}
//.play::before {
//    display: block;
//    content: "";
//    position: absolute;
//    top: 8px;
//    left: 16px;
//    border-top: 15px solid transparent;
//    border-bottom: 15px solid transparent;
//    border-left: 22px solid #F7958E;
//}
//.pause::after {
//    content: "";
//    position: absolute;
//    top: 8px;
//    left: 12px;
//    width: 15px;
//    height: 30px;
//    background-color: transparent;
//    border-radius: 1px;
//    border: 5px solid #F7958E;
//    border-top: none;
//    border-bottom: none;
//}
//#pause:hover {
//    opacity: 0.8;
//}
//.e-c-base {
//    fill: none;
//    stroke: #B6B6B6;
//    stroke-width: 4px
//}
//.e-c-progress {
//    fill: none;
//    stroke: #F7958E;
//    stroke-width: 4px;
//    transition: stroke-dashoffset 0.7s;
//}
//.e-c-pointer {
//    fill: #FFF;
//    stroke: #F7958E;
//    stroke-width: 2px;
//}
//#e-pointer {
//    transition: transform 0.7s;
//}


.hide{
  display: none;
}
.show{
  display: block;  
}

#play {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 30px;

  border-color: transparent transparent transparent #F7958E;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 30px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}