.card{
  position: relative;
  text-decoration: none;
  background-color: #38618c;
  color: white;
}
.card a{
  position: relative;
  text-decoration: none;
  text-color: white;
}

a:visited{
  color: white;
}

.inactive{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, .6) !important;
}


h5::after{
  content: "";
  /* position: absolute; */
  /* bottom: 0; */
  background-color: #ff5964;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
  width: 50%;
  left: 20px;
}

.btn-primary.btn-large{
  background-color: #ff5964 !important;
  font-size: 30px !important;
  height: 2.8rem !important;
  line-height: 2.2rem !important;
}

.btn-primary, .btn{
  font-size: 1.5rem;
  background-color: #ff5964 !important;
  border-color: #ff5964 !important;
  color: white;
}