.card{
  position: relative;
  text-decoration: none;
  background-color: #38618c;
  color: white;
  border-bottom: 3px solid #ff5964;

  a{
    position: relative;
    text-decoration: none;
    color: white !important;
  }
  

  a:visited{
    color: white !important;
  }

}


.inactive{
//  position: absolute;
//  background-color: #3F6F8F !important;
  border-bottom: 0 !important;
  
  .btn{
//    background-color: #fd9a99 !important;
    border-color: #fd9a99 !important;
  }
}


h1 {
  margin: 0;
  position: relative;
//  top: 50%;
  left: 0;
  right: 0;
//  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
}

h1 span {
  font-size: 20px;
  display: block;
}

h5::after{
  content: "";
  /* position: absolute; */
  /* bottom: 0; */
  background-color: #ff5964;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
  width: 50%;
  left: 20px;
}

.btn{
  font-size: 15pt;
  min-width: 70px;
}

.btn-primary.btn-large{
  background-color: #ff5964 !important;
  font-size: 16pt !important;
  height: 2.8rem !important;
  line-height: 2.2rem !important;
}

.btn-primary, .btn{
//  font-size: 1.5rem;
  background-color: #ff5964 !important;
  border-color: #ff5964 !important;
  color: white;
}

.btn-primary-light-red{
  background: #ff8f8f !important;
  border-color: #ff8f8f !important;
}

.left{
  text-align: left;
}
.right{
  text-align: right;
}

@media (max-width: 320px) {
  .aside-list{
    .btn-large {
      font-size: 9pt !important;
      line-height: 1.2rem !important;
      height: 1.8rem !important;
    }
  }
}
