<!--
title: Build Bigger Shoulders With Perfect Training Technique (The Overhead Press)
tags:  ["Jeff Nippard"]
youtube_id: "_RlRDWO2jfg"
audience: Intermediate
categories: ["Overhead Press"]
permalink: "overhead-press/build-bigger-shoulders-with-perfect-training-technique-the-overhead-press"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_RlRDWO2jfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Intermediate</a></b>
</p>


<ul>
  <li>Shoulder anatomy during overhead press </li>
  <li>Supplemental lifts to target different parts of shoulder </li>
  <li>How to set up for the lift </li>
  <li>How to brace and tighten body and glutes before each lift  </li>
  <li>Common errors when performing the press </li>
</ul>

