/
  title: Build Bigger Shoulders With Perfect Training Technique (The Overhead Press)
  tags:  ["Jeff Nippard"]
  youtube_id: "_RlRDWO2jfg"
  audience: Intermediate
  categories: ["Overhead Press"]
  permalink: "overhead-press/build-bigger-shoulders-with-perfect-training-technique-the-overhead-press"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/_RlRDWO2jfg", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Intermediate
%ul
  %li Shoulder anatomy during overhead press
  %li Supplemental lifts to target different parts of shoulder
  %li How to set up for the lift
  %li How to brace and tighten body and glutes before each lift
  %li Common errors when performing the press
