<!--
title: FIX YOUR OVERHEAD PRESS - MEGSQUATS
tags:  ["Meg Gallagher"]
youtube_id: "RsADsEMO7ZM"
audience: Beginner
categories: ["Overhead Press"]
permalink: "overhead-press/fix-your-overhead-press-megsquats"
layout: post
-->

<h4>
  
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/RsADsEMO7ZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'

<p>
  <b><i class="fas fa-user"></i> Audience: <a href="/audience">Beginner</a></b>
</p>


<ul>
  <li>Where to position the barbell </li>
  <li> </li>
  <li> </li>
</ul>

