/
  title: FIX YOUR OVERHEAD PRESS - MEGSQUATS
  tags:  ["Meg Gallagher"]
  youtube_id: "RsADsEMO7ZM"
  audience: Beginner
  categories: ["Overhead Press"]
  permalink: "overhead-press/fix-your-overhead-press-megsquats"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/RsADsEMO7ZM", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Where to position the barbell
  %li
  %li
