/
  title: How to Perform Overhead Press - Proper Technique & Form
  tags:  ["Brandon Myles White"]
  youtube_id: "F3QY5vMz_6I"
  audience: Beginner
  categories: ["Overhead Press"]
  permalink: "overhead-press/how-to-perform-overhead-press-proper-technique-form"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/F3QY5vMz_6I", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Ideal stance and grip width
  %li How to brace body for overhead press
  %li Common problems when performing the lift
