/
  title: How To Barbell Row
  tags:  ["Alan Thrall"]
  youtube_id: "RQU8wZPbioA"
  audience: Beginner
  categories: ["Barbell Row"]
  permalink: "barbell-row/how-to-barbell-row"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/RQU8wZPbioA", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Different styles of barbell rows
  %li Where to make contact in the torso
  %li How to perform heavy rows
  %li How to grip the bar
  %li How to handle issues with grip
