/
  title: The Truth about Barbell Rows (AVOID MISTAKES!)
  tags:  ["Jeff Cavaliere"]
  youtube_id: "T3N-TO4reLQ"
  audience: Beginner
  categories: ["Barbell Row"]
  permalink: "barbell-row/the-truth-about-barbell-rows-avoid-mistakes"
  layout: post
%h4
= succeed "'" do
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/T3N-TO4reLQ", :width => "560"}
%p
  %b
    %i.fas.fa-user
    Audience:
    %a{:href => "/audience"} Beginner
%ul
  %li Depending on your body, the barbell row can impact your lower back
  %li Alternatives to Pendlay row
  %li Where to make contact in your body
