-if current_user.has_active_workout?
  .card
    .card-body.columns
      .column.col-12
        %p.center 
          You have an active workout. Would you like to resume?
      .column
        .columns
          .col-3
          .col-4
            %p   
              %a.btn{:href => resume_workouts_path}  Resume
          .col-5
            %p   
              %a.btn{:href => stop_workouts_path}  Stop
-else
  .card
    .card-header
      .card-title.h5
        Next workout
      .card-body
        .columns.col-12
          %p
            Your next scheduled workout is 
            %b="#{formated_date(current_user.next_workout_date)}"
        .column
          .columns
            .col-6.col-sm-12
              %p   
                %a.btn{:href => start_workouts_path}  Begin Workout
            .col-6.col-sm-12
              %p   
                %a.btn{:href => workouts_path} View Logs
