-if current_user.has_active_workout?
  .card
    .card-body.columns
      .column.col-12
        %p.center 
          You have an active workout. Would you like to resume?
      .column
        .column
          .columns
            %a.col-12.btn{:href => resume_workouts_path} Resume Workout
        .column
          .columns
            %a.col-12.btn{:href => stop_workouts_path} Finish 
        .column
          .columns
            %a.col-12.btn{:href => workouts_path} History

-else
  .card
    .card-header
      .card-title.h5
        Next workout
      .card-body
        .columns.col-12
          %p
            Your next scheduled workout is 
            %b="#{formated_date(current_user.next_workout_date)}"
        .column
          .columns
            %a.col-12.btn{:href => start_workouts_path}  New Workout
        .column
          .columns
            %a.col-12.btn{:href => workouts_path} History
