-if @personal_records.any?
  .card
    .card-header
      .card-title.h5
        Personal Records
      .card-body
        .columns.col-12
          -@personal_records.each do |record|
            .col-6{style: "text-align: right; padding-right: 10px"}
              =record.exercise.name
            .col-6{style: "text-align: left; padding-left: 10px"}
              ="#{record.weight} x #{record.reps_completed}"
