-if current_user.workouts.count == 0 && ENV['ENABLE_MULTIPLE_ROUTINE']
  .card
    .card-header
      .card-title.h5
        Select a training program
      .card-body
        .columns.col-12
          %p
            Welcome to everybodysquat, where our goal to get everybody to squat 1x their body-weight.
          %p
            Want to lift more? We can help you with that as well.
        .column
          .columns
            %a.col-12.btn{:href => start_workouts_path}  Get Started