/ %main{style: "position: fixed; top: 0; width: 100%; height: 70px; background-color:white; z-index: 999"}
/ %h1
/   Fullscreen menu
/   %span with cool links
%input#myInput{:type => "checkbox"}/
%label{:for => "myInput"}
  %span.bar.top
  %span.bar.middle
  %span.bar.bottom
%aside
  / .aside-section.aside-left
  /   .aside-content
  /     %p Some text that will make you click the cta
  /     %button.button CTA
  .aside-section.aside-left
    %ul.aside-list
      -if current_user
        -if current_user.has_active_workout?
          %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'workouts') }
            %a.btn.btn-primary{:href => "/workouts/resume"}  Resume
            %a.btn.btn-primary{:href => "/workouts/stop"}  End Workout
        -else
          %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'workouts') }
            %a{:href => "/workouts/create"}  New Workout
        %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'workouts') }
          %a{:href => "/#{current_user.username}/workouts"}  Workouts
        %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'goals') }
          %a{:href => "/#{current_user.username}/goals"}  Goals
        %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'charts') }
          %a{:href => "/#{current_user.username}/charts"}  Charts
        %li.aside-anchor{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'timeline') }
          %a{:href => "/#{current_user.username}/timeline"}  Timeline
